# Virtual environments
Backend/venv/
models/SadTalker/sadtalker_env/

# Model checkpoints (too large for GitHub)
Backend/checkpoints/
models/AnimeGANv2/checkpoint/
models/AnimeGANv2/vgg19_weight/

# Results and temp files
Backend/results/
Backend/temp/
Backend/test_frames/
Backend/test_output.mp4
Backend/sample.mp4
Backend/fix.py

# Input files
inputs/

# Python cache
__pycache__/
*.pyc
*.pyo

# Unnecessary files
models/SadTalker/cd
models/SadTalker/py
models/SadTalker/input.jpg
models/SadTalker/results_mamu/
models/SadTalker/results_test/
models/SadTalker/results_perfect/
models/SadTalker/results_no_lips/
models/SadTalker/results_no_lipsync/
models/AnimeGAN/
models/SadTalker/AnimeGANv2-master/
models/AnimeGANv2/.git
Backend/gfpgan/